@model Core.Entities.Comment

        <td>@Model.Id</td>
        <td>@Model.Body</td>
        <td>@Model.Likes</td>
        <td>@Model.CreatedAt</td>
        <td>@Model.UserId</td>
        <td>@Model.PostId</td>
