@model Core.Entities.User

@{ 
    string dataTarget = $"order{Model.Id}";
    int idTemp = 0;
}
<tr data-toggle="collapse" data-target=".@dataTarget">
    <td>@Html.ActionLink(@Model.Id.ToString(), "GetUser", new { id = @Model.Id }, new { @class = "link" }) </td>
    <td><img src="@Model.Avatar" alt="@Model.Name" /></td>
    <td>@Html.ActionLink(@Model.Name, "GetUser", new { id = @Model.Id }, new { @class = "link" })</td>
    <td>@Model.Email</td>
    <td>@Model.CreatedAt</td>
    @{
        if (@Model.Posts.Count > 0)
        {
            idTemp = @Model.Posts[0].Id;
            <td>@Html.ActionLink($"Post {idTemp}", "GetPost", "Posts", new { id = idTemp }, new { @class = "link" })</td>
        }
        else
        {
            <td> ----- </td>

        }

        if (@Model.Todos.Count > 0)
        {
            idTemp = @Model.Todos[0].Id;
            <td>@Html.ActionLink($"Todo {idTemp}", "GetTodo", "Todos", new { id = idTemp }, new { @class = "link" })</td>
        }
        else
        {
            <td> ----- </td>
        }
    }
</tr>

@{
    for (int i = 1; i < Model.Posts.Count; i++)
    {
        idTemp = @Model.Posts[i].Id;
<tr class="collapse @dataTarget subrow">
    <td> ----- </td>
    <td> ----- </td>
    <td> ----- </td>
    <td> ----- </td>
    <td> ----- </td>
    <td>@Html.ActionLink($"Post {idTemp}", "GetPost", "Posts", new { id = idTemp }, new { @class = "link" })</td>
    @if (i < @Model.Todos.Count)
    {
            idTemp = @Model.Todos[i].Id;
        <td>@Html.ActionLink($"Todo {idTemp}", "GetTodo", "Todos", new { id = idTemp }, new { @class = "link" })</td>
    }
    else
    {
        <td> ----- </td>
    }

</tr>
    }
}

