@model Core.Entities.Todo
@{
    ViewBag.Title = "Index";
}

<h2 class="page-header">Todoes</h2>

<section class="functionalityPanel panel panel-default">

    <div class="btn-group btn-group-vertical">
        @Html.ActionLink("Get all todos", "GetAllTodos", null, new { @class = "btn btn-default" })
    </div>

    @using (Html.BeginForm("GetUserTodos", "Todos", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-10">
                    @Html.LabelFor(u => u.Id, "Target user id: ", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(u => u.Id)
                        @Html.ValidationMessageFor(u => u.Id)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Get user todos" />
                </div>
            </div>
        </div>
    }

    @using (Html.BeginForm("GetCompletedUserTodos", "Todos", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-10">
                    @Html.LabelFor(u => u.Id, "Target user id: ", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(u => u.Id)
                        @Html.ValidationMessageFor(u => u.Id)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Get completed user todos" />
                </div>
            </div>
        </div>
    }
</section>

