@model Core.Helpers.UserInfo

    <h2>User information</h2>

    <section class="functionalityPanel">
        <table class="table" title="User">
            <thead>User</thead>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Avatar</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Created at</th>
                    <th>Unfinished tasks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @Html.Partial("_User", @Model.User)
                    <td>@Model.UnfinishedTasksCount</td>
                </tr>
            </tbody>
        </table>

        <br />

        <table class="table" title="Last post">
            <thead>Last post</thead>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Body</th>
                    <th>Likes</th>
                    <th>Created at</th>
                    <th>User id</th>
                    <th>Comments count</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @Html.Partial("_Post", @Model.LastPost)
                </tr>
            </tbody>
        </table>

        <br />

        <table class="table" title="Best post">
            <thead>Best post</thead>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Body</th>
                    <th>Likes</th>
                    <th>Created at</th>
                    <th>User id</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @Html.Partial("_Post", @Model.BestPost)
                </tr>
            </tbody>
        </table>

        <br />

        <table class="table" title="Most popular post">
            <thead>Most popular post</thead>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Body</th>
                    <th>Likes</th>
                    <th>Created at</th>
                    <th>User id</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @Html.Partial("_Post", @Model.MostPopComment)
                </tr>
            </tbody>
        </table>
    </section>















